h1 {
    color: #8d1c72ac;
    
}

body{
    background-color: #f4e9e7
}

h2{
    font-size: 2em
}

#margin{
    font-size:3em;
    color: floralwhite;
    margin-top: 1em;
    margin-left: 5%;
    font-family:monospace;
}

#welc{
    margin-left: 7%;
    margin-right: 10%;
    color: #FFA8A9;
    font-family:fantasy;
    font-size: 1.5em
}



#pic{
  position:absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}


#name2{
    font-family:monospace;
    text-align:center;
    margin-top:1em;
    z-index:1;
    font-size: 5em
    
   
}

#writerpic{
    margin-left: 35%;
       
}


#description{
    color:#FFA8A9;
    font-family:fantasy;
    font-size: 1.5em;
    margin-right: 10%
        
}

#photo{
   margin-left: 35%;
    width: 25em;
}

#title1{
    margin-left:20%;
    font-family:sans-serif;
    font-size: 1.5em;
    color:#FFA8A9;
    
}

#photo2{
    margin-left:100%;
    width: 28em;
    margin-top: 1em;
    
}

#title2{
    margin-left: 40%;
        margin-top: 1em;
    font-size: 1.5em;
    font-family:sans-serif;
    color:antiquewhite;
}